@page
@model Presentation.Pages.Admin.Hash.AddHashtagModel
@{
    ViewBag.Title = "Add Hashtag";
}
<!-- Main content -->
<section class="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">General</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <form method="post" asp-page-handler="Create">
                <div class="form-group">
                    <label for="inputName">Title</label>
                    <input type="text" asp-for="Title" class="form-control" onkeyup="return forceLower(this);">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a asp-page="/Admin/Hashtags" class="btn btn-secondary">Cancel</a>
                        <input type="submit" value="Save Changes" class="btn btn-success float-right">
                    </div>
                </div>
            </form>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

@section Scripts{
    <script>
        function forceLower(strInput) 
        {
            strInput.value=strInput.value.toLowerCase();
        }   ​
    </script>
}