@page
@model Presentation.Pages.Admin.Lists.CategoriesModel
@{
    ViewBag.Title = "Categories";
}
@using Application.Common.Models;
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <button type="button" onclick="location.href='@Url.Page("/Admin/Categ/AddCategory")'" class="btn btn-primary">Add Category</button>

            <div class="card-tools">
                <button type="button" class="btn " data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn " data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>

            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        @foreach (var property in typeof(CategoryDto).GetProperties())
                        {
                            if (property.Name != "Id")
                            {
                                <th>@property.Name</th>
                            }
                        }
                        <th style="width: 20%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.Categories)
                    {
                        <tr>
                            @foreach (var property in typeof(CategoryDto).GetProperties())
                            {
                                if (property.Name != "Id")
                                {
                                    <td>@property.GetValue(category)</td>
                                }
                            }
                            <td class="project-actions text-right">
                                <a class="btn btn-primary btn-sm" asp-page="/Admin/Categ/CategoryDetails">
                                    <i class="fas fa-folder"></i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" asp-page="/Admin/Categ/EditCategory">
                                    <i class="fas fa-pencil-alt"></i>
                                    Edit
                                </a>
                                <button class="btn btn-danger btn-sm"
                                        type="submit"
                                        asp-page-handler="Delete"
                                        asp-route-id="@category.Id">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </button>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

@section Scripts
    {
    <!-- jQuery -->
    <script src="~/lib/admin-lte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/admin-lte/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/lib/admin-lte/dist/js/demo.js"></script>
}

@section Links
    {
    <!-- Font Awesome -->
    <link rel="stylesheet" asp-page="/lib/admin-lte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" asp-page="/lib/admin-lte/dist/css/adminlte.min.css">
}