@page
@model Presentation.Pages.Admin.SucceedModel
@{
    ViewBag.Title = "Succeed";
}

<div style="display: flex; justify-content: center; align-items: center; height: 75vh;">
    <div style="text-align: center;">
        <h1 style="color: #333; font-size: 32px; margin-bottom: 20px;">@ViewData["Message"]</h1>
        <a style="display: inline-block; padding: 10px 20px; background-color: #333; color: #fff; text-decoration: none; font-size: 18px;" asp-page="/Admin/@ViewData["EntityName"]">Go back to list</a>
    </div>
</div>


