<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">    
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/fontawesome-free/css/all.min.css">    
    <link rel="stylesheet" href="~/lib/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">    
    <link rel="stylesheet" href="~/lib/admin-lte/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    @RenderBody()
</body>
</html>
