@page
@using Domain.Entities;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager;
@{
    var currentUser = await UserManager.GetUserAsync(User);
    bool userIsAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
}
@model Presentation.Pages.Admin.Usr.UserDetailsModel
@{
    ViewBag.Title = "User Details";
}
@using Application.Common.Models;
<div style="margin: 10px;">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-text-width"></i>
                Details
            </h3>
        </div>
        <div class="card-body">
            <dl>
                @foreach (var property in typeof(UserDto).GetProperties())
                {
                    if (!(property.Name == "Password" && !userIsAdmin) && true)
                    {
                        <dt>@property.Name</dt>
                        <dd>@property.GetValue(Model.UserP)</dd>
                    }
                }
            </dl>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- ./col -->
