
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

section.content {
    padding: 20px !important;
}

.image-upload-container {
    display: flex;    
    gap: 20px;
    align-items: stretch; 
    margin-bottom: 40px
}

.image-preview {
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
}

.image-preview img {
    max-width: 100%;
    height: auto;
    display: block;    
    border-radius: 4px;
}

.image-uploader {
    display: flex;
    flex: 1 !important;    
    border: 2px dashed #ccc !important;
    justify-content: center;
    align-items: center;
    border-radius: 4px !important;
}

.image-uploader .dz-message span {        
    font-size: 30px !important;        
    color: #555;
}


.main-container{
    min-height: 1000px !important;
}

.site-footer{
    max-height: 500px;
}