@using Presentation.Models.Navigation
@model IEnumerable<AdminMenuItem>

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false">

        <li class="nav-header">Lists</li>

        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a href="@item.Url" class="nav-link">
                    @Html.Raw(item.IconHtml)
                    <p>@item.Title</p>
                </a>
            </li>
        }
    </ul>
</nav>
