@page
@model Presentation.Pages.Admin.Hash.HashtagDetailsModel
@{
    ViewBag.Title = "Hashtag Details";
}

@using Domain.Entities;
<div style="margin: 10px;">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-text-width"></i>
                Details
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <dl>
                @foreach (var property in typeof(Hashtag).GetProperties())
                {
                    <dt>@property.Name</dt>
                    <dd>@property.GetValue(Model.Hashtag)</dd>
                }
            </dl>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- ./col -->
