@page
@model Presentation.Pages.Admin.Pos.PostDetailsModel
@{
    ViewBag.Title = "Post Details";
}
@using Domain.Entities;
<section>
    <div style="margin: 10px;">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-text-width"></i>
                    Details
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <dl>
                    @foreach (var property in typeof(Post).GetProperties())
                    {
                        <dt>@property.Name</dt>
                        <dd>@property.GetValue(Model.Post)</dd>
                    }
                </dl>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Translations</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table">
                <thead>
                    <tr>
                        <th>Language ID</th>
                        <th>View Count</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Functional-requirements.docx</td>
                        <td>49.8005 kb</td>
                        <td class="text-right py-0 align-middle">
                            <div class="btn-group btn-group-sm">
                                <a href="~/Admin/Pos/PostTranslationDetails" class="btn btn-info"><i class="fas fa-eye"></i></a>
                                <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- ./col -->
</section>
