@page
@using Application.Common.Models;
@model Presentation.Pages.Admin.Approve.CategoryTranslationsStatusModel
@{
}
<form method="post" asp-page-handler="ChangeStatus">
    <section class="content">

        <!-- Default box -->
        <div class="card" style="margin: 5px">

            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            @foreach (var property in typeof(CategoryTranslationDto).GetProperties())
                            {
                                if (property.Name == "Id" || property.Name == "Title" || property.Name == "Status")
                                {
                                    <th>@property.Name</th>
                                }
                            }
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var translation in Model.Translations)
                        {
                            <tr>
                                @foreach (var property in typeof(CategoryTranslationDto).GetProperties())
                                {
                                    if (property.Name == "Id" || property.Name == "Title" || property.Name == "Status")
                                    {
                                        <td>@property.GetValue(translation)</td>
                                    }
                                }
                                <td class="project-actions text-right">
                                    <input type="hidden" name="id" value="@translation.Id" />
                                    <select name="status" id="inputStatus" class="form-control custom-select">
                                        <option selected disabled>Select status</option>
                                        <option>Published</option>
                                        <option>Pending</option>
                                        <option>Draft</option>                                        
                                        <option>Scheduled</option>
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input type="hidden" name="selectedValues" id="selectedPosts" />
            </div>
        </div>
    </section>
    <button class="btn btn-primary btn-sm"
            id="buttonStatus"
            type="submit"
            style="margin: 5px; font-size: 15px">
        <i class="fas fa-check">
        </i>
        Change statuses
    </button>
</form>

@section Scripts {
    <script src="/js/status.js" asp-append-version="true"></script>
}