@page
@using Application.Common.Models;
@model Presentation.Pages.Admin.Approve.PostsStatusModel
@{
}



<form method="post" asp-page-handler="ChangeStatus">
    <section class="content">

        <!-- Default box -->
        <div class="card" style="margin: 5px">
            
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            @foreach (var property in typeof(PostTranslationDto).GetProperties())
                            {
                                if (property.Name == "PostId" || property.Name == "Title" || property.Name == "Status")
                                {
                                    <th>@property.Name</th>
                                }
                            }
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Translations.Count; i++)
                        {
                            <tr>
                                @foreach (var property in typeof(PostTranslationDto).GetProperties())
                                {
                                    if (property.Name == "PostId" || property.Name == "Title")
                                    {
                                        <td>@property.GetValue(Model.Translations[i])</td>
                                    }

                                    if (property.Name == "Status")
                                    {
                                        <td>@Model.Posts[i].Status</td>
                                    }

                                }
                                <td class="project-actions text-right">
                                    <input type="hidden" name="id" value="@Model.Translations[i].PostId" />
                                    <select name="status" id="inputStatus" class="form-control custom-select">
                                        <option selected disabled>Select status</option>
                                        <option>Published</option>
                                        <option>Pending</option>
                                        <option>Draft</option>
                                        <option>Deleted</option>
                                        <option>Scheduled</option>
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input type="hidden" name="selectedValues" id="selectedPosts" />
            </div>
        </div>
    </section>
    <button class="btn btn-primary btn-sm"
            id="buttonStatus"
            type="submit"
            style="margin: 5px; font-size: 15px">
        <i class="fas fa-check">
        </i>
        Change statuses
    </button>
</form>

@section Scripts{
    <script src="~/js/status.js" asp-append-version="true"></script>
}   