@page
@model Presentation.Pages.Admin.Categ.CategoryDetailsModel
@{
    ViewBag.Title = "Category Details";
}
@using Application.Common.Models;
<div style="margin: 10px;">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-text-width"></i>
                Category Id: @Model.CategoryId
            </h3>
        </div>

        <div class="card-body">
            @foreach (var translation in Model.Translations)
            {
                <dl>
                    @foreach (var property in typeof(CategoryTranslationDto).GetProperties())
                    {
                        if (property.Name != "CategoryId")
                        {
                            <dt>@property.Name</dt>
                            <dd>@property.GetValue(translation)</dd>
                        }
                    }
                </dl>
                <br />
            }
        </div>
    </div>
</div>

